.rounded{
    border-radius: 15px;
}

body{
    margin: 10px;
    background-color: rgb(203, 221, 223);
    text-align: center;
}

.title{
    background-color: aliceblue;
    padding: 30px;
}

.font{
   color: rgb(23, 64, 100);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centered{
    text-align: center;
}

.custom-button{
    background-color: aliceblue;
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 20px;

}

.content{
    display: inline-block;
    margin: 10px;
}