

h2{
    margin-top: 2px;
    margin-bottom: 10px;
}

.rounded{
    border-radius: 15px;
}

body{
    margin: 10px;
    background-color: rgb(203, 221, 223);
    text-align: center;
}

.title{
    background-color: aliceblue;
    padding: 30px;
}

.font{
   color: rgb(23, 64, 100);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centered{
    text-align: center;
}

.custom-button{
    background-color: aliceblue;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

.container{
    display: inline-block
}

.content{
    margin: 10px;
    box-sizing: content-box;
    width: 230px;
    height: 310px;
}

.stylized-link{
    text-decoration: none;
    color: rgb(23, 64, 100);

}