

h2{
    margin-top: 2px;
    margin-bottom: 10px;
}

.rounded{
    border-radius: 15px;
}

body{
   
    background-color: #B5C18E;
    text-align: center;
}

.title{
    background-color: #EADBC8;
    padding: 30px;
    box-sizing: border-box;
    width:740px;
    display: inline-block;
    
}

.recipe_content{
    background-color: #EADBC8;
    display: inline-block;
    padding: 20px;

}



.centered{
    text-align: center;
}

.align_left
{
    text-align: left;
}

.custom-button{
    background-color: #EADBC8;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

.content{
    margin: 10px;
    box-sizing: border-box;
    width: 230px;
    height: 350px;

.container{
    display: inline-block
}


}

.stylized-link{
    text-decoration: none;
    color: rgb(23, 64, 100);

}

.font{
    color: rgb(23, 64, 100);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }